<template>
  <NuxtLayout>
  
      <NuxtPage />
  
  </NuxtLayout>
</template>


<!-- 
<template>
  <Vapp>
    <Layaout>
      <v-main class="d-flex mt-5 ml-5" style="min-height: 300px;">
             <Holamundo />
        </v-main>
    </Layaout>
  </Vapp>
</template> -->
