<template>
    <!-- Inicio fin barra -->
    <v-layout>
        <v-navigation-drawer v-model="drawer" :rail="rail" permanent @click="rail = false">
            <v-list-item prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg" title="John Leider" nav>
                
            </v-list-item>

            <v-divider></v-divider>

            <v-list density="compact" nav>
                <v-list-item prepend-icon="mdi-home-city" title="Inicio" value="home"></v-list-item>
                <v-list-item prepend-icon="mdi-account" title="Mantenimiento" value="account"></v-list-item>
                <v-list-item prepend-icon="mdi-account-group-outline" title="Citas" value="users"></v-list-item>
                <v-list-item prepend-icon="mdi-filter" title="Registro" value="registro"></v-list-item>
                <v-list-item prepend-icon="mdi-home-city" title="Reportes" value="Reportes"></v-list-item>
            </v-list>
        </v-navigation-drawer>

        <!-- fin de la barra lateral -->
        <v-app-bar color="ligth" prominent>
            <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

            <v-toolbar-title></v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn variant="text" icon="mdi-magnify"></v-btn>

            <v-btn variant="text" icon="mdi-filter"></v-btn>

            <v-btn variant="text" icon="mdi-dots-vertical"></v-btn>
        </v-app-bar>

        <v-main class="d-flex mt-5 ml-5" style="min-height: 300px;">
             <Holamundo />
        </v-main>
    </v-layout>
</template>

<script>


export default {
    data: () => ({
        drawer: false,
        group: null,
        items: [
            {
                title: 'Foo',
                value: 'foo',
            },
            {
                title: 'Bar',
                value: 'bar',
            },
            {
                title: 'Fizz',
                value: 'fizz',
            },
            {
                title: 'Buzz',
                value: 'buzz',
            },
        ],
    }),
    watch: {
        group() {
            this.drawer = false;
        },
    },
    drawer: true,
    rail: true,
    
}
</script>
