<template>
<v-app-bar color="ligth" permanent>
    <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

    <!-- <v-toolbar-title></v-toolbar-title> -->

    <v-spacer></v-spacer>

    <v-btn variant="text" icon="mdi-magnify"></v-btn>

    <v-btn variant="text" icon="mdi-filter"></v-btn>

    <v-btn variant="text" icon="mdi-dots-vertical"></v-btn>
</v-app-bar>
    <!-- fin del nav-->

</template>
<!-- Inicio del nav -->

<script>

export default {
    data: () => ({
        drawer: true,
        group: null,
        items: [
            {
                title: 'Foo',
                value: 'foo',
            },
            {
                title: 'Bar',
                value: 'bar',
            },
            {
                title: 'Fizz',
                value: 'fizz',
            },
            {
                title: 'Buzz',
                value: 'buzz',
            },
        ],
    }),
    watch: {
        group() {
            this.drawer = false;
        },
    },
    drawer: true,
    rail: true,

}
</script>
