<script setup lang="ts" >

definePageMeta({
  layout: 'authentication'
})

</script>

<template>
  <div class="pa-16">
    <v-img class="mx-auto my-6" max-width="228"
      src="https://bigdavi.com/wp-content/uploads/2022/10/SOLIDO_sinslogansinfondo-01.png"></v-img>

    <v-card class="mx-auto pa-12 pb-9" elevation="8" max-width="460" rounded="lg">

      <div class="text-subtitle-1 text-medium-emphasis">Usuario</div>

      <v-text-field density="compact" placeholder="Ingrese su usuario" prepend-inner-icon="mdi-email-outline"
        variant="outlined"></v-text-field>

      <div class="text-subtitle-1 text-medium-emphasis">Contraseña</div>
      <v-text-field density="compact" placeholder="ingrese su contraseña" prepend-inner-icon="mdi-email-outline"
        variant="outlined"></v-text-field>


      <!-- <v-text-field :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'" :type="visible ? 'text' : 'password'"
        density="compact" placeholder="Enter your password" prepend-inner-icon="mdi-lock-outline" variant="outlined"
        @click:append-inner="visible = !visible"></v-text-field> -->

      <v-btn block class="mb-8" color="blue" size="large" variant="tonal">
        Log In
      </v-btn>
      <v-card-text class="text-center">
        <a class="text-caption text-decoration-none text-blue" href="www.google.com" rel="noopener noreferrer" target="_blank">
          Olvido su contraseña?</a>
      </v-card-text>
      <!-- <v-card-text class="text-center">
        <a class="text-blue text-decoration-none" href="#" rel="noopener noreferrer" target="_blank">
          Sign up now <v-icon icon="mdi-chevron-right"></v-icon>
        </a>
      </v-card-text> -->
    </v-card>
  </div>
</template>
