<template>
    <!-- Inicio fin barra -->
    <v-layout>

        <!-- Inicio barra lateral -->
        <!-- <v-navigation-drawer v-model="drawer" :rail="rail" permanent @click="rail = false"> -->
        <v-navigation-drawer v-model="drawer"  permanent>

            <!-- Inicio cuadrito de texto antes de la foto  -->
            <v-card-item class="mb-7" permanent>
                <div>

                    <div class="text-h6 mb-1">
                        Medic App
                    </div>
                    <div class="text-caption"> Sistema de citas online</div>
                </div>
            </v-card-item>
            <!-- Fin cuadrito de texto antes de la foto  -->

            <v-card-item class="mt-4">
                <v-list-item prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg" nav>
                    <h1> Admin  </h1>
                    <p class="text-caption">Gerente</p>
                </v-list-item>

                <v-divider></v-divider>

                <!-- <v-list density="compact mt-3" nav> -->
                <v-list class="compact mt-3" nav>
                    <v-list-item prepend-icon="mdi-home-city" title="Inicio" value="home"></v-list-item>
                    <v-list-item prepend-icon="mdi-account" title="Mantenimiento" value="account"></v-list-item>
                    <v-list-item prepend-icon="mdi-account-group-outline" title="Citas" value="users"></v-list-item>
                    <v-list-item prepend-icon="mdi-filter" title="Registro" value="registro"></v-list-item>
                    <v-list-item prepend-icon="mdi-home-city" title="Reportes" value="Reportes"></v-list-item>
                </v-list>
            </v-card-item>

            <!-- Inicio Salir   -->
            <template v-slot:append>
                <div class="pa-2 mb-2">
                    <v-btn block class="text-h6">
                        Salir
                    </v-btn>
                </div>
            </template>
            <!-- Fin salir  -->
        </v-navigation-drawer>
         <!-- fin de la barra lateral -->

        <!-- Inicio del nav -->
        <v-app-bar color="ligth" permanent>
            <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

            <!-- <v-toolbar-title></v-toolbar-title> -->

            <v-spacer></v-spacer>

            <v-btn variant="text" icon="mdi-magnify"></v-btn>

            <v-btn variant="text" icon="mdi-filter"></v-btn>

            <v-btn variant="text" icon="mdi-dots-vertical"></v-btn>
        </v-app-bar>
            <!-- fin del nav-->

        <v-main class="d-flex mt-5 ml-5">
            <!-- <NuxtPage  /> -->
            <slot />
        </v-main>

        

    </v-layout>
    
</template>

<script  >
//   useHead(
//     {
//         titleTemplate: "%s - Clinic App"
//     }
//   )

export default {
  
    data: () => ({
        drawer: true,
        group: null,
        items: [
            {
                title: 'Foo',
                value: 'foo',
            },
            {
                title: 'Bar',
                value: 'bar',
            },
            {
                title: 'Fizz',
                value: 'fizz',
            },
            {
                title: 'Buzz',
                value: 'buzz',
            },
        ],
    }),
    watch: {
        group() {
            this.drawer = false;
        },
    },
    drawer: true,
    rail: true,

}
</script>
